<div class="block-1">
	<div class="container">
		<div class="row">
			<div class="col-md-4 img-bl col-md-push-4">
				<div class="phone-container">
					{{#if isMobile.any}}
						<video controls loop autoplay src="https://s3.us-east-2.amazonaws.com/knock-website/assets/videos/knock_demo.mp4"
							type='video/mp4'>
						</video>
					{{else}}
						<video preload loop autoplay src="https://s3.us-east-2.amazonaws.com/knock-website/assets/videos/knock_demo.mp4"
							type='video/mp4'>
						</video>
					{{/if}}
				</div>
			</div>
			<div class="col-md-4 col-md-push-4">
				<div class="app-btn">
					<div class="store-btn">
						<a href="https://itunes.apple.com/ca/app/knock/id1294804112?mt=8" target="_">
							<img src="assets/img/appst-im.png" alt="">
						</a>
					</div>
					<div class="store-btn">
						<a href="https://play.google.com/store/apps/details?id=io.getknock.knock&hl=en" target="_">
							<img src="assets/img/gogp-im.png" alt="">
						</a>
					</div>
				</div>
				<button class="try-btn" {{action 'signUp'}}>TRY KNOCK FOR FREE</button>
			</div>
			<div class="col-md-4 col-md-pull-8 for-c-c">
				{{reviews-component}}
			</div>

			<div class="col-md-12 hidden-xs centered">
				<div class="down-btn" {{action "down"}}>
						<img src="assets/img/down-arrow.png" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="block-2 centered">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="h2 cnt-t ">Contact Us</div>
			</div>
			<div class="col-md-12 com-bl">
				<div class="col-md-5 col-md-push-1">
					<div class="cont-box clearfix">
						<div class="col-md-12">
							<div class="icon-bl">
								<a href="mailto:info@getknock.io"><img src="assets/img/mail.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="imp-txt">
								<a href="mailto:info@getknock.io"><span class="slog">Shoot us an Email</span></a>
								<div class="big-inf">info@getknock.io</div>
							</div>
							<div class="txt">We're always happy to discuss partnerships or opportunities.</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-md-push-1">
					<div class="cont-box clearfix">
						<div class="col-md-12">
							<div class="icon-bl">
								<a href="tel:+16472926226"><img src="assets/img/tel.png" alt=""></a>
							</div>
						</div>
						<div class="col-md-12">
							<div class="imp-txt">
								<a href="tel:+16472926226"><span class="slog">Give Us A Call</span></a>
								<div class="big-inf">+1 647 292 6226</div>
							</div>
							<div class="txt">If your request is urgent and you need help immediately, connect with us directly here.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 soc">
				<a href="">Addo Labs Inc.</a>
			</div>
			<div class="col-xs-6 soc-l">
				{{#link-to 'privacy'}}
					Terms
				{{/link-to}}
			</div>
		</div>
	</div>
</footer>
<div id="modal_form">
	<span id="modal_close" {{action "close"}}>X</span>
	<div class="h2 cnt-t">login to knock</div>
	<input type="text" class="rfield empty_field" placeholder="Your name">
	<input type="text" class="rfield empty_field" placeholder="Password">
	<div class="btn-blck-m">
		<button id="signin-btn" {{action "pressed2"}}>LOGIN</button>
	</div>
</div>
<div id="modal_form-2">
	<span id="modal_close-2" {{action "close2"}}>X</span>
	<div class="h2 cnt-t thnk">Thank you,</div>
	<div class="txt-mf">we will contact you.</div>
</div>
<div class="overlay" {{action "pressedOverlay"}}></div>
